.intro{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    .border{
        display: flex;
        justify-content: center;
        border: 3px solid black;
        max-width: 320px;
        height: 50px;
        margin-top: 10px;
        padding-inline: 12px;
    }
    .name{
        display: flex;
        justify-content: center;
        border: none;
        max-width: 100%;
        background: repeating-linear-gradient(90deg, black 0, black 1ch, transparent 0, transparent 1.6ch) 0 100%/ 15.4ch 2px no-repeat;
        font: 2.7ch droid sans mono, consolas, monospace;
        letter-spacing: 0.6ch;
        text-transform: uppercase;
        margin-bottom: 4px;
        padding: 0;
    }
    
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 134px;
            height: 50px;
            border: 3px solid black;
            background: black;
            color: white;
            margin-top: 10px;
            transition: color 0.4s, background 0.4s;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            cursor:pointer;
        }
        
    
}